body {
  margin: 0;
  padding: 0;
  background-color: #ccc;
  font-family: "MedievalSharp", cursive;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 30px;
}

.header img {
  width: 100%;
  height: auto;
  display: block;
  background-image: url("images/ciel3.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.footer img {
  width: 100%;
  height: auto;
  display: block;
  background-image: url("images/ciel3.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-content {
  display: flex;
  flex: 1;
  background-color: #888;
}

.side {
  width: 120px;
  background-image: url("images/stone_wall.jpeg");
  background-size: cover;
}

.content {
  flex: 1;
  padding: 40px;
  background-image: url("images/parchment.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Great Vibes", cursive;
  color: #3b2f1b;
  box-shadow: inset 0 0 10px #00000088;
}
.photo{
  position: absolute;
  top: 550px;
  left: 1100px;
  width: 200px;
  height: auto;
  border: 4px solid #5a3e1b;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
}
h1,
h2,
h3 {
  text-align: center;
  font-size: 50px;
}

ul {
  list-style: square;
}

footer {
  position: relative;
}

